---
import Layout from "../layouts/Layout.astro";

import cases from "../cases.json";

export async function getStaticPaths() {
  return cases.map((project) => {
    return {
      params: { slug: project.slug, folder: project.folder },
      props: { myCase: project },
    };
  });
}

const { myCase } = Astro.props;
---

<Layout title={`${myCase.title}`}>
  <main class="grid grid-cols-5">
    <div
      id="casesTitles"
      class="col-span-2 p-4 xl:p-11 flex flex-col justify-end xl:gap-8"
    >
      <h1 class="font-medium text-4xl xl:text-5xl text-black">
        {myCase.title}
      </h1>
      <h2
        class=`max-w-prose text-md xl:text-lg font-hoe tracking-wider text-black opacity-75`
      >
        {myCase.subTitle}
      </h2>
      <p class="max-w-prose text-pretty">{myCase.description}</p>
      <div>
        <h3 class="font-semibold text-black">Acquired skills</h3>
        <ul class="">
          {
            myCase.skills.map((skill) => (
              <li class="list-inside list-disc">{skill}</li>
            ))
          }
        </ul>
      </div>
      <a
        target="_blank"
        href={myCase.link}
        style={`color: ${myCase.textColor};`}
        >Take a peek <p class="inline font-hoe text-xl text-red">&rarr;</p>
      </a>
    </div>
    <div
      id="showCase"
      class=`col-span-3  w-full h-screen overflow-scroll flex flex-col  gap-4.5`
    >
      {
        myCase.gallery.map((caseFoto) => (
          <img
            src={`../images/${myCase.folder}/${caseFoto.src}`}
            alt={caseFoto.alt}
            class="w-full h-fit object-cover"
          />
        ))
      }
    </div>
  </main>
</Layout>
