---
// CaseLink.astro
const { title, slug, txtColor, bgColor, imgPath } = Astro.props;
---

<li
  class="case-link"
  data-bg-color={bgColor}
  data-img-path={imgPath}
  data-text-color={txtColor}
>
  <a
    href={`/${slug}`}
    class=`font-medium text-xl lg:text-4xl 2xl:text-5xl text-[${txtColor}]`
  >
    {title}
  </a>
</li>
